
/* https://uigradients.com/ */


/* STYLES 

1.Header
2.Main 










/*     Fonts              */

/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src:
         url('../assets/fonts/open-sans-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/open-sans-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../assets/fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../assets/fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/open-sans-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../assets/fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-800 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../assets/fonts/open-sans-v18-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/open-sans-v18-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-800italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local(''),
         url('../assets/fonts/open-sans-v18-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/open-sans-v18-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* basic-regular - latin */
@font-face {
  font-family: 'Basic';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/basic-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/basic-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}












*{
box-sizing: border-box;
}




/*   Header          */

/*   Header-top      */
header .header {   
  width: 100%;
background-color:#fff;

}
header .header-top {

display: flex;
border-bottom: 1px solid #eeeeee;
position: relative;

}
header .header-top ul{
  list-style: none; 
display: flex;
}

header .header-top .header-left {
background-color:#0a2a66;
float: left;
overflow: hidden;
width: 100%;
max-width: 246px;

}

header .header-left .social-group li{
padding: 15px 15px 0 ;
}
header .header-left .social-group li a{
display: block;

transition: transform .3s ease;
}
header .header-left .social-group li a {
color: #fffffe;

}

header .header-left .social-group li a:hover{
 transform: scale(1.2);
}

.header .header-right  {
display: flex;
justify-content: space-between;
align-items:center;
padding-top: 15px;

}


header .header-top .header-contacts ul li:not(:first-child) {

padding-left:25px
}
header .header-top .header-contacts ul  a{
color:#86878a;
text-decoration: none;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
}
header .header-top .user-area ul {
  margin-right: 6.5em; 
 
 
}
header .header-top .user-area ul li {
padding:0  25px ;  

}
header .header-top .user-area ul li a {
text-decoration: none; 
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
color:#86878a;
transition: color .3s ease ;
}
header .header-top .user-area ul li a i{
padding-right: 15px;
color: #4044b4;

}
header .header-top .user-area ul li a:hover {
color:#2d3092;  
}


/*   Header-bottom    */
.header-bottom {
display: flex;

}


.header-bottom .logo-brand{
background-color:#f4f4f4;
min-width: 246px;
width: 246px;
padding: 30px 0px;
text-align: center;
border-color: transparent;
}
.header-bottom .logo-brand .logo-link{
display: block;
text-decoration: none;
font-size: 30px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;

}




header .header-bottom  .menu-top .navbar-menu{
display: flex;
padding-top: 15px;
padding-bottom: 15px;
transition: opacity 1s ease-out;
}

header .header-bottom  .menu-top{
  transition: opacity 1.5s ease-out,
  display .5s ease;
}

#menu-toggle{
  display: none;
  position: absolute;
  right:5%;
  top: 12%;
  z-index: -100;
  text-decoration: none;
  transition: z-index .5s ease;
  border:1px solid a6c3d3;
  padding:10px 15px;
  letter-spacing: 1.2px;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Basic','sans-serif';
  font-style: normal;
  font-weight: 400;
  border-radius: 3px;
  background: #90bed6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d5ebf0, #9dbccc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8c6d4, #a6c3d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color:#1D4350;
  

}




#menu-toggle:hover{
  color:#ffffff;
 
 border-color:#98add4;
  background: #98add4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #7099e4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


#menu-toggle .menu-text{
  vertical-align: middle;
  transition: display .5s ease;
}

#close-btn{
  display: none;
  font-size: 36px;
  
  position: absolute;
  right: 0;
  top: 75px;

}



header .header-bottom  .menu-top .navbar-menu li{
list-style: none;
padding: 27px 30px 0px 0; 
}

header .header-bottom  .menu-top .navbar-menu a {
text-decoration: none;  
font-size: 16px;
color:#091a23;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
/*transition: color .3s ease;*/
}
header .header-bottom  .menu-top .navbar-menu a:hover{
color:  #2d3092;
}
header .header-bottom .form {
  padding: 20px 0;
}

header .header-bottom   .search-form{
  padding-top: 5px;
}


.search-form{
position: relative;
margin-right: 7rem;
}
.form-input {
width: 250px;
height: 60px;
display: block;
padding: 0px 28px;  
background-color: #f4f4f4;
line-height: 60px;  
border: 0;  
border-radius: 30px;
padding-right: 4.4rem;  
font-size: 14px;

}
.form-input:focus{
border:0;
outline: none;
}


.search-circle{
position: absolute;
background-color:#2d3092;
width: 60px;
height: 60px;
line-height: 60px;
border-radius:50%;
display: block;
top:53%;
right: -12%;
transform: translate(-50%,-50%);
display: flex;
justify-content: center;
align-items:center;
cursor: pointer;
}


.search-circle .fa-search{
display: block;
color:#fff;
cursor: pointer;
transition: color .3s ease-in;
}
.search-circle:hover >.fa-search{
  color:#b4b5b9;
}



/****************** MAIN*************/

section .main-bg {
  width: 100%;
  background: #d9e7ee url(../img/bg4.jpg) no-repeat ;
  background-position-y: 90%;
  background-size: cover;
  height: 79vh;
  transition: background-position-x .5s ease;
}
.btn-check:focus + .btn, .btn:focus {
  outline: none;
  box-shadow: none
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow:none;
}

section .main-bg .main-text{
  padding-top: 4em;
  padding-left: 9em;
}


/*.btn{
box-shadow: inset 0 0 0 0 #0f3e74;
transition: box-shadow  ease-out .4s;
}
.btn:hover{
  box-shadow: inset 134px 0 0 0 #0f3e74;
 
}*/
.btn{
  position: relative;
  z-index: 1;
}
.btn::before{
  transition: all .5s ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom:0;
  opacity: 0;
  content: "";
  background-color:#0f3e74;
 
}
.btn:hover::before{
left: 0;
right: 0;
opacity: 1;
z-index: -1;
}


  
 




  




/* NOTE: 
@media (max-width: 575px)
@media only screen and (min-width: 576px) and (max-width: 767px)
@media only screen and (min-width: 768px) and (max-width: 991px)
@media only screen and (min-width: 992px) and (max-width: 1199px)
@media only screen and (min-width: 1200px) and (max-width: 1800px)



# Mobile
only screen and (min-width: 480px)

# Tablet
only screen and (min-width: 768px) 

# Desktop
only screen and (min-width: 992px)

# Huge
only screen and (min-width: 1280px) 




Or:

# Phone
only screen and (max-width:320px)

# Tablet
only screen and (min-width:321px) and (max-width:768px)

# Desktop
only screen and (min-width:769px)








*/




/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/



@media only screen and (min-width: 320px) and (max-width: 1150px){

  header .header-top{
    
    display: none;
  }

  header .header-bottom .form {
    display: none;
  }

header .header-bottom .menu-top .navbar-menu li {
  padding: 27px 20px 0px 0;
}

header .header-bottom  .menu-top {
 
  top: 0;

  right: 0;
  width: 0px;
  height: 100%;
  position: fixed;
  z-index: -100;
  overflow-x: hidden;
  
  border-left:1px solid transparent;
  padding-top: 56px;
  padding-bottom: 56px;
  transition: width .5s ease,
  display .5s ease,
  box-shadow ease-out .5s;
  
  opacity: .8;

background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  



 .navbar-menu{
    transition: display 1s ease;
    
  }

  #menu-toggle {
    display: block;
    z-index: 10;
    top: 40px;
    
   transition: color .2s ease-in,
    linear-gradient 5s ease-out,
    right .5s ease;
    
  }


.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

  #menu-toggle .menu-text {
    transition: display .5s ease;
    
  }


  #close-btn{
  z-index: -100;
  top: 25px;
  color:#091a23;
  display: block;
  transition: display .5s ease,
  color .5s ease;
  }
  #close-btn:hover{
    color:#f1f1f1;
  }

  header .header-bottom  .menu-top .navbar-menu{
    display: block;
  }
  header .header-bottom  .menu-top .navbar-menu a{
    transition: color 0.2s step-start,
    color 0.3s step-end;
  }

  header .header-bottom  .menu-top .navbar-menu a:hover {
 
    
    color: #f1f1f1;
    
    }








}




@media only screen and (min-width: 1600px) and (max-width: 1800px){
 
header .header-bottom .form input {
    width: 250px;
}
}


@media only screen and (min-width: 992px) and (max-width: 1199px){
  
  




  header .header-bottom  .menu-top .navbar-menu a {
 
    font-size: 16px;
    
    }



}